/*=====字体=====*/
html {
  font-family:
    'Microsoft YaHei', '微软雅黑', 'PingFang SC', 'Hiragino Sans GB',
    'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}


/*=====默认主题=====*/
/*---变量---*/
:root {
  --text: #1a4141;
  --title: #194a56;
  --important: #0068ad;
  --tips: #00674f;
  --pad: rgba(240, 245, 245, 0.6);
  --line: #216658;
  --bg: rgb(235, 240, 240);
  --link: #004ab8;
  --cover: rgba(238, 234, 212, 0.6);
  --null: #00000000;
  --bg-image: url('/img/bg.webp');
  --ifm-code-font-size: 95%;
  --doc-sidebar-width: 300px;
  --head-height: 49px;
}

/*---图像尺寸---*/
:root {
  --img-screen: 25%;
  --img-part: 30%;
}
/*=====默认主题=====*/


/*=====暗主题=====*/
[data-theme='dark'] {
  --text: #62cccc;
  --title: #b4d9e3;
  --important: #4faeee;
  --tips: #10ce9e;
  --pad: rgba(35, 35, 35, 0.4);
  --line: #a0f6e2;
  --bg: rgb(30, 30, 30);
  --link: #1969e1;
  --cover: rgba(0, 0, 0, 0.7);
  --bg-image: url('/img/bg-dark.webp');
}
/*=====暗主题=====*/


/*=====ifm原生变量覆盖=====*/
/*---颜色---*/
:root {
  --ifm-toc-border-color: var(--line); /*导航栏收起按钮边框，跳转目录边栏颜色*/
  --ifm-pre-background: var(--pad); /*预制格式背景色*/
}
/*=====ifm原生变量覆盖=====*/


/*=====动画管理=====*/
/*---关键帧动画---*/

/*---表达式---*/
[class^='img-'] img {
  transition: transform 0.4s ease;
}

[class^='img-'] img:hover {
  transform: scale(1.03);
}
/*=====动画管理=====*/


/*=====背景图遮罩+侧边栏展开变暗清除=====*/
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cover);
  pointer-events: none;
  z-index: -1;
}

.navbar-sidebar__backdrop {
  background-color: var(--null);
}
/*=====背景图遮罩+侧边栏展开变暗清除=====*/


/*=====全局行高+视宽+背景图+全局边框=====*/
/*---行高---*/

/*---视宽---*/
.docItemContainer_Djhp {
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid var(--line);
  padding: 0 10px;
}

/*---页内导航宽度---*/
.col.col--3 {
  padding: 0;
}

/*---背景图相关设置---*/
.bg-layer {
  position: fixed;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -2;
}

/*---全局边框---*/
body::after {
  content: '';
  position: fixed;
  inset: 0;
  box-shadow:
    inset 1px 0 0 var(--line),
    inset -1px 0 0 var(--line);
  pointer-events: none;
  z-index: 9999;
}

@media (hover: hover) and (pointer: fine) {
  body::after {
    box-shadow: none;
    border: 1px solid var(--line);
  }
}
/*=====全局行高+视宽+背景图+全局边框=====*/


/*=====导航栏，侧边栏，页内导航栏，页脚样式=====*/
/*---导航栏---*/
.navbar {
  background-color: var(--bg);
  border: 1px solid var(--line);
  box-shadow: none;
  height: var(--head-height);
  white-space: nowrap;
}

[data-theme='dark'] .navbar__logo img {
  content: url('/img/topic-dark.png');
}

/*---侧边栏---*/
.theme-doc-sidebar-container {
  position: sticky;
  top: var(--head-height);
  left: 8px;
  height: calc(100vh - var(--head-height));
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--null);
  border: 1px solid var(--line);
  border-top: 0;
  border-bottom: 0;
  backdrop-filter: blur(2px);
  max-height: fit-content;
}

.sidebarViewport_aRkj,
.sidebar_njMd {
  margin: 0;
  padding: 0;
}

.theme-layout-navbar-sidebar-panel,
.theme-layout-navbar-sidebar.navbar-sidebar {
  background-color: var(--null);
  border: 1px solid var(--line);
  border-bottom: 0;
  backdrop-filter: blur(12px);
}

.button.button--secondary.button--outline.collapseSidebarButton_PEFL {
  border-top: 1px solid var(--line);
  border-left: none;
}

/*---页内导航栏---*/
.table-of-contents {
  background-color: var(--pad);
  border-left: 3px solid var(--line);
  backdrop-filter: blur(2px);
}

/*---页脚---*/
.footer {
  height: 50px;
  border: 1px solid var(--line);
  background-color: rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(2px);
  vertical-align: top;
}
/*=====导航栏，侧边栏，页内导航栏，页脚样式=====*/


/*=====全局颜色+基础样式=====*/
p,
h4,
h5,
h6,
li,
pre,
tr,
td,
th,
.navbar__title,
.navbar__link,
.menu__link,
.table-of-contents__link,
.footer__link-item,
.footer__copyright {
  color: var(--text);
}

h2,
h3,
.footer__title {
  color: var(--title);
}

h1,
[class*='navbar__link--active'],
.menu__link--active,
.table-of-contents__link--active {
  color: var(--important);
}

blockquote,
code,
.DocSearch-Button-Placeholder {
  color: var(--tips);
  border: 1px solid var(--line);
}

code,
blockquote,
.menu__caret,
.DocSearch-Button {
  background-color: var(--pad);
}

@media (hover: hover) and (pointer: fine) {
  code,
  blockquote,
  .menu__caret,
  .DocSearch-Button {
    backdrop-filter: blur(2px);
  }
}

table {
  border-color: var(--line);
}

a,
.navbar__link:hover,
.navbar__title:hover,
.menu__link:hover,
.table-of-contents__link:hover,
.footer__link-item:hover {
  color: var(--link);
}
/*=====全局颜色+基础样式=====*/


/*=====额外样式=====*/
/*---代码块组---*/
blockquote {
  border-left: 4px solid var(--line);
  border-radius: 3px;
  overflow: auto;
  max-width: fit-content;
}

code {
  border-radius: 0px;
  border-left: 0px solid var(--line);
  border-right: 0px solid var(--line);
  max-width: fit-content;
}

pre {
  margin: 0;
  padding: 0.3rem;
  border: 1px solid var(--line);
  backdrop-filter: blur(2px);
  white-space: pre-wrap;
  word-break: break-word;
  display: flow-root;
  overflow: auto;
  max-width: fit-content;
}

pre code,
blockquote code {
  background-color: var(--null);
  border: none;
  backdrop-filter: none;
  max-width: 100%;
}

/*---正文文本组---*/
h1,
h2 {
  text-align: center;
  border: 2px solid var(--line);
  border-left: 0;
  border-right: 0;
}

h1 {
  border-top: 0;
}

h2 {
  border-bottom: 0;
}

h3 {
  text-align: center;
  border-top: 1px solid var(--line);
  counter-reset: h4-counter;
}

h4 {
  border-bottom: 1px solid var(--line);
  max-width: fit-content;
}

h5,
h6 {
  text-align: center;
}

/*---h3，h4有序前缀---*/
h3 ~ h4 {
  counter-increment: h4-counter;
  counter-reset: h5-counter;
}

h3 ~ h4::before {
  content: counter(h4-counter) '、';
}
/*=====额外样式=====*/


/*=====图片控制=====*/
/*---样式设定---*/
[class^='img-'] {
  margin: 0 auto;
  margin-left: 1rem;
}

[class^='img-'] p,
[class^='img-'] blockquote {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: small;
  font-weight: 400;
}

.imgT {
  margin-left: 0;
}

.img-screen {
  width: var(--img-screen);
  float: right;
  overflow: visible;
  aspect-ratio: 45/97;
}

.img-screen img {
  aspect-ratio: 45/97;
  object-fit: cover;
  object-position: center;
  border: 0.5px solid var(--line);
}

.img-screen blockquote {
  aspect-ratio: 45/20;
  overflow: auto;
}

/*---灯箱---*/
.LB-pad {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--pad);
  backdrop-filter: blur(10px);
  z-index: 8000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LB-img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  z-index: 10;
}

.LB-button {
  position: absolute;
  padding-bottom: 2px;
  top: 20px;
  right: 30px;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--line);
  font-size: 2rem;
  line-height: 1.2;
  cursor: pointer;
  background: var(--bg);
  border-radius: 50%;
}
/*=====图片控制=====*/


/*=====搜索栏=====*/
.navbar__search-input {
  border: 1px solid var(--line);
  border-radius: 20px;
  background-color: var(--pad);
  transition: 0.3s;
}

.navbar__search-input.searchInput_YFbd.input_FOTf:active {
  background-color: var(--line);
}

.navbar__search-input.searchInput_YFbd.input_FOTf:focus {
  background-color: var(--bg);
  border-radius: 0px;
  transition: 0.3s;
}

@media not all and (hover: hover) and (pointer: fine) {
  .navbar__search-input.searchInput_YFbd.input_FOTf:focus {
    width: 91vw;
  }
}
/*=====搜索栏=====*/


/*=====防溢出=====*/
article img {
  max-width: 100%;
  height: auto;
}

@media not all and (hover: hover) and (pointer: fine) {
  .navbar__title.text--truncate {
    display: none;
  }
}
/*=====防溢出=====*/


/*=====给他妈的傻逼Chromium系擦屁股口牙！=====*/
.is-chromium * {
  backdrop-filter: none !important;
}
/*=====给他妈的傻逼Chromium系擦屁股口牙！=====*/